---
global:
  # -- Set an override for the prefix of the fullname
  nameOverride:
  # -- Set the entire name definition
  fullnameOverride:
  # -- Set additional global labels. Helm templates can be used.
  labels: {}
  # -- Set additional global annotations. Helm templates can be used.
  annotations: {}

controller:
  # -- enable the controller.
  enabled: false

serviceAccount:
  create: false


frontend:
  enabled: true
  service:
    main:
      enabled: true
      primary: true
      type: ClusterIP
      ports:
        http:
          enabled: true
          primary: true
          port: 80
          protocol: HTTP

  image:
    # -- image repository
    repository: 1337kavin/piped-frontend
    # -- image tag
    tag: "latest@sha256:5453de4bd9358cf3d5af78737733c806dc68a73ae44a66c63a64ca4d8de125e6"  # Manifest index / Index Digest
    # -- image pull policy
    pullPolicy: IfNotPresent

  # env:
  #  BACKEND_HOSTNAME: pipedapi.example.org

  command: "/bin/ash"
  args:
    - -c
    - "sed -i s/pipedapi.kavin.rocks/$BACKEND_HOSTNAME/g /usr/share/nginx/html/assets/* && /docker-entrypoint.sh nginx -g 'daemon off;'"

  # resources:
  #  requests:
  #    memory: 32Mi
  #  limits:
  #    memory: 128Mi

backend:
  enabled: true
  service:
    main:
      enabled: true
      primary: true
      type: ClusterIP
      ports:
        http:
          enabled: true
          primary: true
          port: 8080
          protocol: HTTP

  #  command: "/bin/sh"
  #  args:
  #    - -c
  #    - sleep infinity

  # If the hostnames are not set for backend, proxy and API, they will be automatically fetched from their ingresses.
  config:
    PORT: 8080
    HTTP_WORKERS: 2
    # PROXY_PART: https://PROXY_HOSTNAME
    # Outgoing HTTP Proxy - eg: 127.0.0.1:8118
    # HTTP_PROXY: 127.0.0.1:8118
    # Captcha Parameters
    # CAPTCHA_BASE_URL: https://api.capmonster.cloud/
    # CAPTCHA_API_KEY: INSERT_HERE
    # API_URL: https://BACKEND_HOSTNAME
    # BG_HELPER_URL: http://BG_HELPER_HOSTNAME
    # FRONTEND_URL: https://FRONTEND_HOSTNAME
    # Enable haveibeenpwned compromised password API
    # COMPROMISED_PASSWORD_CHECK: true
    # Disable Registration
    # DISABLE_REGISTRATION: false
    # Feed Retention Time in Days
    # FEED_RETENTION: 30
    # database:
    # connection_url: jdbc:postgresql://postgres:5432/piped
    # driver_class: org.postgresql.Driver
    # dialect: org.hibernate.dialect.PostgreSQLDialect
    # username: piped
    # password: changeme
    # Please only provide the secret name (it should already exist),
    # it should only include database.username and database.password as others will be taken from above.
    # secret:
    #   name: secret-name
    #   Optionally grab differently named keys
    #   username: DB_USERNAME
    #   password: DB_PASSWORD


  image:
    # -- image repository
    repository: 1337kavin/piped
    # -- image tag
    # @chart.appVersion
    tag: "latest@sha256:121d56e14a3eccfc107cf5bab084772ba16b395e243b65076a6fa73f8fa0e8b2"  # Manifest index / Index Digest
    # -- image pull policy
    pullPolicy: IfNotPresent

  # resources:
  #  requests:
  #    memory: 500Mi
  #  limits:
  #    memory: 1500Mi

ytproxy:
  enabled: true
  service:
    main:
      enabled: true
      primary: true
      type: ClusterIP
      ports:
        http:
          enabled: true
          primary: true
          port: 8080
          protocol: HTTP

  command: "/app/piped-proxy"


  image:
    # -- image repository
    repository: 1337kavin/piped-proxy
    # -- image tag
    tag: "latest@sha256:940216912f46f936632d3c1fa77fb7f7b246328d9e3bf652e07393618761764e"  # Manifest index / Index Digest
    # -- image pull policy
    pullPolicy: IfNotPresent

  # resources:
  #  requests:
  #    memory: 32Mi
  #  limits:
  #    memory: 500Mi

ingress:
  main:
    enabled: true
    primary: true
    hosts:
      - host: piped.video
        paths:
          - path: "/"
    tls: []

  backend:
    enabled: true
    ingressClassName: nginx
    primary: false
    hosts:
      - host: pipedapi.piped.video
        paths:
          - path: "/"
    tls: []

  ytproxy:
    enabled: true
    ingressClassName: nginx
    primary: false
    hosts:
      - host: ytproxy.piped.video
        paths:
          - path: "/"
    tls: []

# See options from https://artifacthub.io/packages/helm/bitnami/postgresql#parameters
postgresql:
  enabled: true
  image:
    tag: 13.12.0-debian-11-r58
  auth:
    database: piped
    username: piped
    password: changemepiped

# -- Probe configuration
# -- [[ref]](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/)
# @default -- See below
probes:
  # -- Liveness probe configuration
  # @default -- See below
  liveness:
    # -- Enable the liveness probe
    enabled: true
    # -- Set this to `true` if you wish to specify your own livenessProbe
    custom: false
    # -- The spec field contains the values for the default livenessProbe.
    # If you selected `custom: true`, this field holds the definition of the livenessProbe.
    # @default -- See below
    spec:
      initialDelaySeconds: 0
      periodSeconds: 10
      timeoutSeconds: 1
      failureThreshold: 3

  # -- Redainess probe configuration
  # @default -- See below
  readiness:
    # -- Enable the readiness probe
    enabled: true
    # -- Set this to `true` if you wish to specify your own readinessProbe
    custom: false
    # -- The spec field contains the values for the default readinessProbe.
    # If you selected `custom: true`, this field holds the definition of the readinessProbe.
    # @default -- See below
    spec:
      initialDelaySeconds: 0
      periodSeconds: 10
      timeoutSeconds: 1
      failureThreshold: 3

  # -- Startup probe configuration
  # @default -- See below
  startup:
    # -- Enable the startup probe
    enabled: true
    # -- Set this to `true` if you wish to specify your own startupProbe
    custom: false
    # -- The spec field contains the values for the default startupProbe.
    # If you selected `custom: true`, this field holds the definition of the startupProbe.
    # @default -- See below
    spec:
      initialDelaySeconds: 0
      timeoutSeconds: 1
      ## This means it has a maximum of 5*30=150 seconds to start up before it fails
      periodSeconds: 5
      failureThreshold: 30

termination:
  gracePeriodSeconds:
