{{- define "custom.repository.organization" -}}
TeamPiped
{{- end -}}

{{- define "custom.repository.url" -}}
https://github.com/TeamPiped/Piped-Kubernetes
{{- end -}}

{{- define "custom.helm.url" -}}
https://helm.piped.video
{{- end -}}

{{- define "custom.helm.path" -}}
{{ template "custom.repository.organization" . }}/{{ template "chart.name" . }}
{{- end -}}

{{ template "chart.header" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "chart.description" . }}

{{ template "chart.sourcesSection" . }}

## Requirements

{{ template "chart.kubeVersionLine" . }}

## Dependencies

{{ template "chart.requirementsTable" . }}

## Installing the Chart

```bash
# Add the repository
helm repo add {{ template "custom.repository.organization" }} {{template "custom.helm.url"}}

# Install the chart
helm install {{ template "custom.repository.organization" }} piped -f values.yaml
```

## Values

The following table contains an overview of available values and their descriptions / default values.

<details>
<summary>Expand</summary>

{{ template "chart.valuesTable" . }}

</details>

{{ template "helm-docs.versionFooter" . }}
